{{ define "main" }}
{{ .Content }}
<section>
<ul class="project-list">
  <span class="h1">Speakers</span>
  {{ range .Site.Data.speakers.list }}
  <li class="project-item">
    <a href="{{ .url }}">{{ .name }}</a>: {{ .desc | markdownify }}
  </li>
  {{ end }}
</ul>
<section/>

<section>
<ul class="project-list">
  <span class="h1">Panelists</span>
  {{ range .Site.Data.panelists.list }}
  <li class="project-item">
    <a href="{{ .url }}">{{ .name }}</a>
  </li>
  {{ end }}
</ul>
</section>

<section>
<ul class="project-list">
  <span class="h1">Organizers</span>
  {{ range .Site.Data.organisers.list }}
  <li class="project-item">
    <a href="{{ .url }}">{{ .name }}</a>
  </li>
  {{ end }}
</ul>
</section>
{{ end }}
